.zim
bat
bpytop
Brewfile.bak
broot
cheat
configstore
gh
htop
iterm2/AppSupport
kaggle
karabiner
!karabiner/karabiner.json
matplotlib
neofetch
nvim
!nvim/UltiSnips
!nvim/init.vim
pgcli
r
raycast
rstudio
zsh/.zcomp*
zsh/.zsh_history
.emacs
.gitconfig
.gitignore_global
.ideavimrc
