# personal 
kaggle
.gitconfig

# not to export
conda_envs_backups
gh
configstore
jupyter
iterm2/AppSupport

# nvim
nvim/*
!nvim/init.vim

# pointless dirs
zsh/.zcompcache
zsh/.zsh_sessions
zsh/.zcompdump
zsh/.zsh_history

broot/launcher

# incomplete
alacritty
.emacs