# This is Git's per-user configuration file.
[user]
  name = baggiponte
  email = 57922983+baggiponte@users.noreply.github.com
	signingkey = /Users/luca/.ssh/commit_signature-macbook_pro-ed25519.pub

[github]
  user = baggiponte
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true

[core]
  excludesFile = ~/.config/.gitignore.global

[diff]
  colorMoved = default
  submodule = log

# lfs
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

# signatures and ssh
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true

[maintenance]
	repo = /Users/luca/.config

[credential]
	helper = osxkeychain
[credential "https://repository.a2a.eu"]
	provider = generic
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://huggingface.co"]
	provider = generic
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
