# This is Git's per-user configuration file.
[user]
  name = baggiponte
  email = 57922983+baggiponte@users.noreply.github.com
	signingkey = /Users/luca/.ssh/commit_signature-macbook_pro-ed25519.pub

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[github]
  user = baggiponte
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[merge]
  conflictstyle = diff3

# global gitignore
[core]
  excludesFile = ~/.config/.gitignore.global
  pager = delta

# git (diff) pager
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  features = side-by-side line-numbers decorations
[diff]
  colorMoved = default
  submodule = log

# lfs
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

# signatures and ssh
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[credential]
	helper = osxkeychain
[maintenance]
	repo = /Users/luca/.config
